<div class="main-content">
    <ngx-gridster #Grid 
        [options]="gridsterOptions" 
        [draggableOptions]="gridsterDraggableOptions"
    >
       
        <ngx-gridster-item class="resizes"
            (onResize)="emitReflow(widget.chartId, $event)"
            *ngFor="let widget of widgetsToDraw; let i = index; trackBy: trackByFn"
            [dragAndDrop]="widget.dragAndDrop" [resizable]="widget.resizable"
            [(x)]="widget.x" [(y)]="widget.y"                       
            [(w)]="widget.w" [(h)]="widget.h" [id]="'grid' + widget.chartId" 
        >
            <!-- some content -->
            <div class="panel-heading">
                <h4 class="panel-title">{{ widget.title }}</h4>                
                <span (click)="remove($event, i)" class="myButton pointer"><mat-icon class="fontSize-22">clear</mat-icon></span>
            </div>
            <div class="panel-body">
                <app-chart [chartId]="widget.chartId" 
                        [chartOptions]="widget.chartOptions"
                        [reflowChart]="sReflow | async"
                >
                </app-chart>
            </div>
        </ngx-gridster-item>      
                    
    </ngx-gridster>
</div>
